body {
	padding: 0;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	transition: .3s;
}
.container {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	padding-bottom: 20px;
}
::-webkit-scrollbar-track {
	height: 10px;
	background-color: transparent;
}
::-webkit-scrollbar {
	height: 10px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	height: 10px;
	background-color: silver;
}
.block-year {
	text-align: center;
	margin: 0 10px;
}
.block-year__year {
	margin-bottom: 10px;
}
.block-country {
	width: 50px;
	height: 50px;
	background: silver;
	border-radius: 50px
}
.flag, .flag-list {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
.country:not(:last-child) {
	margin-bottom: 6px;
}
.mutant {
	border: 1px solid #fff;
	box-shadow:0px 0px 10px 6px rgba(189,0,0,1);
}

.serious {
	border: 1px solid #fff;
	box-shadow:0px 0px 10px 6px rgba(255,163,0,1);
}
.list-country {
	display: flex;
	justify-content: space-around;
	max-width: 350px;
}
.block-list-country {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 230px;
}
.country {
	cursor: pointer;
}
.country:hover, .active {
	transform: scale(0.9);
}
.visible {
	display: block !important;
}
.hiden {
	display: none;
}
.btn {
	width: 100px;
}